{% extends 'base.html' %}

{% block content %}

<div class="global-container">
	<div class="card login-form">
	<div class="card-body">
		<h3 class="card-title text-center">Generador Forecast de Ventas Automático</h3>
		{% if messages %}
		<ul class="alert alert-info">
			{% for message in messages %}
			<li>{{ message }}</li>
			{% endfor %}
		</ul>
		{% endif %}
		<div class="card-text">
			<form method="post">
				{% csrf_token %}
				
				<div class="form-group">
					<label for="exampleInputEmail1">Ingrese Número Días para Forecast</label>
					<input type="number" name="peridodo" class="form-control form-control-sm" id="exampleInputEmail1" aria-describedby="emailHelp">
				</div>

				<a href="{% url 'forecast_list' %}" style="float:right;font-size:13px;">Detalle Forecast</a>
				<button type="submit" class="btn btn-primary btn-block mt-2">Generar</button>
				<div class="sign-up mt-2">
					Volver al Home? <a href="{% url 'home' %}">Home</a>
				</div>
			</form>
		</div>
	</div>
</div>
</div>



{% endblock content %}